/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.button {
	display: block;
	margin-right: 0;
	text-align: center;
	margin-bottom: 10px;
}
.choose-content p {
  margin-bottom: 50px;
}
.add-content {
  margin-top: 0;
}
}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
#logo, .main-menu {
	text-align: center;
}
.cart-content {
	margin-top: 0;
}
.add-content {
  margin-top: 0;
}
.map-content {
  width: 500px;
  height: 300px;
  padding: 50px 30px;
}


}

 
/* Extra small Device. */
@media (max-width: 767px) {
.cart-content {
	margin-top: 0;
}
 .add-content {
  margin-top: 0;
}
.apps {
	margin-bottom: 50px;
}
.map-content {
	width: 300px;
	height: 350px;
	padding: 80px 10px;
}
.map-content h2 {
	font-size: 25px;
}
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}